{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}{% endblock %}
{% block box %}
<form method="post" , action="/setcookie" , class="Form">
    <input type="text" , name="user" , id="Username" , autocomplete="off" , placeholder="Username" , class="Pass">
    <input type="password" , name="pass" , id="Password" , autocomplete="off" , placeholder="Password" , class="Pass">
    <input type="submit" , name="Submit" , class="sub">
    <a href="/signup">Dont have an account? Sign Up here</a>
</form>
{% endblock %}
{% block header %}
{% endblock %}
{% block logout %}{% endblock %}
