{% extends 'base.html' %}
{% block title %}Uploader{% endblock %}
{% block content %}
<script>
  function alertOnSucsess(){
    alert("Sucsess");
    return true;
  }

</script>
{% endblock %}
{% block box %}
<form method="post" , enctype="multipart/form-data" onsubmit="return alertOnSucsess()" , class="Form">
    <input type="file" , name="file" , id="fileToUpload" , class="upload">
    <input type="submit" , value="Upload Image" , name="Submit" , class="sub">
</form>
{% endblock %}
